<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
    	<form action="/login" method="post">
	    	名称:<input type="text" name='username'/><br>
			密码:<input type="text" name='password'/><br>
			<input type="submit" value="登录">	
			<% if(error) { %>
				<p> <%= error %> </p>
			<% } %>
			<% if(success) { %>
				<p> <%= success %> </p>
			<% } %>

			<%= user %>
    	</form>
    </div>
  </body>
</html>
